@{
    ViewBag.Title = "EditGender";
    Layout = "~/Views/Shared/Teacher_Master_Page.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Change Gender</b></center></div>
                    <div class="panel-body">

                        <form action="/Teacher/EditGender" method="post" id="validateform">

                            <label>Gender:</label><br><br>
                            <center>
                            @if (Model.Gender == "Male")
                            {
                                <input type="radio" name="gender" value="Male" checked /><font style="margin-left:3px; margin-right:10px;">Male</font>
                                <input type="radio" name="gender" value="Female" /><font style="margin-left:3px; margin-right:10px;">Female</font>
                            }
                            else if (Model.Gender == "Female")
                            {
                                <input type="radio" name="gender" value="Male" /><font style="margin-left:3px; margin-right:10px;">Male</font>
                                <input type="radio" name="gender" value="Female" checked /><font style="margin-left:3px; margin-right:10px;">Female</font>
                            }
                            </center>
                            <br />

                            <input type="submit" onclick="return validate_form()" value="Save" class="btn btn-primary submit-btn form-control form-control" />

                        </form>

                    </div>
                </div>
                <center><a href="/Teacher/TeacherProfile">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {

        $("#validateform").validate({
            rules: {
                gender: "required",
            },
            messages: {
                gender: "You have to select a value!",
            },
            submit: function () {
                $("#validateform").submit();
            }
        });
    });
</script>
