@{
    ViewBag.Title = "EditContactNumber";
    Layout = "~/Views/Shared/Teacher_Master_Page.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Change Contact Number</b></center></div>
                    <div class="panel-body">

                        <form action="/Teacher/EditContactNumber" method="post" id="validateform">

                            <label>Contact Number:</label>

                            <input type="text" class="form-control" name="contact_no" value="@Model.Contact_No" /><br>

                            <input type="submit" onclick="return validate_form()" value="Save" class="btn btn-primary submit-btn form-control" />

                        </form>

                    </div>
                </div>
                <center><a href="/Teacher/TeacherProfile">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {

        $("#validateform").validate({
            rules: {
                contact_no: {
                    required: true,
                    number: true,
                    minlength: 11,
                    maxlength: 11,
                },
            },
            messages: {
                contact_no: {
                    required: "Please enter a Contact Number!",
                    number: "It must be a number!",
                    minlength: "There must be 11 digits in contact no.!",
                    maxlength: "There must be 11 digits in contact no.!",
                },
            },
            submit: function () {
                $("#validateform").submit();
            }
        });
    });
</script>

