@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    form .error {
        color: red;
    }

    #text_div:hover {
        background-color: #f9f9f9;
    }

    .imagecontainer {
        position: relative;
        width: 270px;
    }

    .image {
        height: 270px;
        width: 270px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        width: 270px;
        height: 0;
        transition: .5s ease;
        opacity: 0.5;
    }

    .imagecontainer:hover .overlay {
        height: 30%;
    }

    .overlay:hover {
        background-color: black;
        opacity: 1;
    }

    .text {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>

<script>
    $(function () {

        jQuery.validator.addMethod("pwcheck",
            function (value, element, param) {
                if (this.optional(element)) {
                    return true;
                } else if (!/[a-z]/.test(value)) {
                    return false;
                } else if (!/[0-9]/.test(value)) {
                    return false;
                }
                else if (!/[a-z0-9]{8,}/.test(value)) {
                    return false;
                }

                return true;
            });

        $("#validateform").validate({
            rules: {
                password: {
                    required: true,
                    pwcheck: true,
                },
                confirm_password: {
                    required: true,
                    equalTo: "#password",
                },
                OldPassword: {
                    required: true,
                    remote: {
                        url: "/SuperUser/Password_IsAvailable",
                        type: "post",
                        data: {
                            function() { return $("#oldpassword").val(); },
                        },
                    },
                },
            },
            messages: {
                password: {
                    required: "Please enter password!",
                    pwcheck: "Password must contain eight characters minimum, at least one letter and one number!",
                },
                confirm_password: {
                    required: "Please enter password!",
                    equalTo: "Password doesn't match!",
                },
                OldPassword: {
                    required: "Please enter your old password",
                    remote: "Password do not match",
                },
            },
            submit: function () {
                $("#validateform").submit();
            }
        });
    });
</script>

<script>

    $(document).ready(function () {
        $("#update_picture").click(function () {
            $("#selectPictureModal").modal({
                backdrop: 'static',
                keyboard: false
            });

        });
    });
    $(function () {
        $("#cancel_btn").click(function () {
            $("#input-div").html("");
            $("#uploadfilepath").val("");
            $("#uploadPictureModal").modal('hdie');
        });
    });
    function readURL(input) {
        $('#uploadPictureModal').modal({
            backdrop: 'static',
            keyboard: false
        });

        var div = $('<div id="input-div"></div>');
        var inputs = $("#uploadfilepath").clone();
        div.append(inputs);
        $("#item").append(div);

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#displaypicture')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' name='file' id='uploadfilepath' onchange='readURL(this)' class='input-ghost' style='display:none;' >");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        //element.next(element).find($("input[name=file]")).val((element.val()).split('\\').pop());
                    });
                    $(this).find('#text_div').css("cursor", "pointer");
                    $(this).find('#text_div').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }
    $(function () {
        bs_input_file();
    });

</script>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="imagecontainer" style="text-align:right; margin-top:30px;">
                <img class="image thumbnail" src="@Url.Content(ViewBag.ImageURL)">
                @*<img src="~/Content/Images/placeholder.jpg" class="image thumbnail" >*@
                <a href="#" id="update_picture">
                    <div class="overlay">
                        <div class="text"><span class="glyphicon glyphicon-camera"></span> Update Profile Picture</div>
                    </div>
                </a>
            </div>
            <div class="container">
                <div class="modal fade" id="selectPictureModal" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Upload Profile Picture</h4>
                            </div>
                            <div class="modal-body input-file">
                                <div style="width:100%;height:130px;text-align:center;line-height:130px;" id="text_div">
                                    <font style="font-size:22px;color:gray;">+ Upload Picture</font>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!--upload image Modal-->

                @using (Html.BeginForm("UploadImage", "SuperUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal fade" id="uploadPictureModal" role="dialog">
                        <div class="modal-dialog modal-md">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create Profile Picture</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="item"></div>
                                    <img id="displaypicture" style="width:300px; height:300px;object-fit:cover;" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_btn">Cancel</button>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>




        </div>




        <div class="col-md-1"></div>
        <div class="col-md-6">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success alert-dismissable fade in" style="text-align:center;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @ViewBag.Message
                </div>
            }
            <form action="/SuperUser/EditProfile" method="post" id="validateform">
                <label>Contact No:</label>
                <input type="text" name="contact_no" class="form-control" value="@Model.Contact_No" /><br>
                <label>Gender:</label>
                <select class="form-control" name="gender">
                    @if (Model.Gender == "Female")
                    {
                        <option value="Male">Male</option>
                            <option value="Female" selected>Female</option>
                    }
                    else
                    {
                        <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                    }
                </select><br>
                <label>Old Password:</label>
                <input type="password" class="form-control" id="oldpassword" name="OldPassword" /><br>
                <label>New Password:</label>
                <input type="password" name="password" id="password" class="form-control" /><br>
                <label>Confirm Password:</label>
                <input type="password" name="confirm_password" class="form-control" /><br>
                <div style="text-align:right;">
                    <button type="button" style="width:120px; height:35px;" class="btn btn-primary" onclick="location.href='@Url.Action("SuperUserProfile", "SuperUser")'"><span class="glyphicon glyphicon-backward"></span> Cancel</button>
                    <input type="submit" onclick="return validate_form()" value="Edit" class="btn btn-danger" style="width:120px; height:35px;" />
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>




