@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Student_Master_page.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Change Password</b></center></div>
                    <div class="panel-body">

                        <form action="/Student/ChangePassword" method="post" id="validateform">

                            <label>Old Password:</label>

                            <input type="password" class="form-control" id="oldpassword" name="OldPassword" /><br>

                            <label>New Password:</label>

                            <input type="password" name="password" id="password" class="form-control" /><br>

                            <label>Confirm Password:</label>

                            <input type="password" name="confirm_password" class="form-control" /><br>

                            <input type="submit" onclick="return validate_form()" value="Save" class="btn btn-primary submit-btn form-control" />

                        </form>

                    </div>
                </div>
                <center><a href="/Student/StudentProfile">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {

        jQuery.validator.addMethod("pwcheck",
            function (value, element, param) {
                if (this.optional(element)) {
                    return true;
                } else if (!/[a-z]/.test(value)) {
                    return false;
                } else if (!/[0-9]/.test(value)) {
                    return false;
                }
                else if (!/[a-z0-9]{8,}/.test(value)) {
                    return false;
                }

                return true;
            });

        $("#validateform").validate({
            rules: {
                password: {
                    required: true,
                    pwcheck: true,
                },
                confirm_password: {
                    required: true,
                    equalTo: "#password",
                },
                OldPassword: {
                    required: true,
                    remote: {
                        url: "/Teacher/Password_IsAvailable",
                        type: "post",
                        data: {
                            function() { return $("#oldpassword").val(); },
                        },
                    },
                },
            },
            messages: {
                password: {
                    required: "Please enter password!",
                    pwcheck: "Password must contain eight characters minimum, at least one letter and one number!",
                },
                confirm_password: {
                    required: "Please enter password!",
                    equalTo: "Password doesn't match!",
                },
                OldPassword: {
                    required: "Please enter your old password",
                    remote: "Password do not match",
                },
            },
            submit: function () {
                $("#validateform").submit();
            }
        });
    });
</script>

