@{
    Layout = "~/Views/Shared/ExamControllerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 1px;">

        <h3 style="text-align:center;"><b>Exam Controller Dashboard</b></h3>
        <hr>
        <div class="container-fluid" style="border: 1px solid #3CCAE6; text-align:center; box-shadow:10px 10px 10px 0px;">
            <img src="~/Content/Images/home_pic.png" class="img-rounded" style="background-size:cover;" />
        </div>
    </div>
</body>
</html>
